* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    width: 120px;
}

.header .material-icons {
    color: rgb(60, 57, 255);
}